<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.example.bangbangxia.dao.TaskMapper">

    <select id="getTaskByPage" resultType="com.example.bangbangxia.domain.Task">
        select * from task limit #{param1},#{param2}
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from task;
    </select>
</mapper>